body {
    background: rgb(225,225,232);
    background: linear-gradient(90deg, rgba(225,225,232,1) 0%, rgba(246,246,248,1) 0%, rgba(126,137,139,1) 0%, rgba(89,103,106,1) 32%, rgba(81,96,99,1) 55%, rgba(29,48,52,1) 79%, rgba(17,28,30,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

p {
    color: aliceblue;

}

h1 {
    color:aliceblue;
    text-decoration: underline;

    
}

h4 {
    color: aliceblue;
}

.bottom-home {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.bg
{
  width: 100%;
  z-index: 0;

}